<div class="modal-backdrop" [ngClass]="isModalShown ? 'show-backdrop' : ''" (click)="closeModal()"></div>
<div class="modal" [ngClass]="isAddModalShown ? 'show' : ''">
    <div class="modal__header">
        <h1 class="modal__header__title">Dodaj Notatkę</h1>
        <button class="modal__header__close btn-x" (click)="closeModal()">&#10005;</button>
    </div>
    <div class="modal__content">
        <h3>Tytuł</h3>
        <textarea [(ngModel)]="newNoteTitle"></textarea>
        <h3>Treść</h3>
        <textarea [ngStyle]="{'min-height':'200px'}" [(ngModel)]="newNoteContent"></textarea>
        <h3>Przypomnij</h3>
        <input type="datetime-local" [(ngModel)]="newNoteReminder"/>
    </div>
    <div class="modal__footer">
        <button class="btn-confirm" (click)="addNote()">Dodaj</button>
    </div>
</div>

<div class="modal" [ngClass]="isEditModalShown ? 'show' : ''">
    <div class="modal__header">
        <h1 class="modal__header__title">Edytuj Notatkę</h1>
        <button class="modal__header__close btn-x" (click)="closeModal()">&#10005;</button>
    </div>
    <div class="modal__content">
        <h3>Tytuł</h3>
        <textarea [(ngModel)]="editNoteTitle"></textarea>
        <h3>Treść</h3>
        <textarea [ngStyle]="{'min-height':'200px'}" [(ngModel)]="editNoteContent"></textarea>
        <h3>Przypomnij</h3>
        <input type="datetime-local" [(ngModel)]="editNoteReminder"/>
    </div>
    <div class="modal__footer">
        <button class="btn-confirm" (click)="editNote()">Edytuj</button>
    </div>
</div>

<div class="modal" [ngClass]="isDeleteModalShown ? 'show' : ''">
    <div class="modal__header">
        <h1 class="modal__header__title">Usuń notatkę</h1>
        <button class="modal__header__close btn-x" (click)="closeModal()">&#10005;</button>
    </div>
    <div class="modal__content">
        <h3 class="info">Czy na pewno chcesz usunąć tę notatkę?</h3>
    </div>
    <div class="modal__footer">
        <button class="btn-confirm" (click)="deleteNote()">Usuń</button>
    </div>
</div>

<app-header></app-header>
<div class="notes-container">
    <div class="notes-header">
        <input class="notes-header-search" [(ngModel)]="search" (ngModelChange)="searchNotes()"/>
        <button class="notes-header-button" (click)="showAddModal()">Dodaj</button>
    </div>
    <!-- <textarea [(ngModel)] = "someInput" (ngModelChange) = "changeHeader($event)"></textarea> -->
    <div class="notes-list-container">
        <div class="notes-list">
            <h1 class="notes-list-empty" *ngIf="isNoteListEmpty">Brak notatek do wyświetlenia</h1>
            <div *ngFor="let note of displayedNotes; let i=index" class="note">
                <div class="note-header" (click)="showEditModal(i, note[0])">
                    <h2 (click)="stopPropagation($event)">{{note[2]}}</h2>
                    <button class="btn-x" (click)="stopPropagation($event); showDeleteModal(note[0])">&#10005;</button>
                </div>
                <div class="note-remind">Przypomnij o {{note[5]}}</div>
                <p>{{ note[3] }}</p>
            </div>
        </div>
    </div>
</div>
